/* =============
   Typography
============= */
body{
    font-family: all-round-gothic, sans-serif;
 }
  
 h1{
    font-family: adorn-condensed-sans, sans-serif;
  
 }
 
 h3{
    font-family: all-round-gothic, sans-serif;
 }