/* =============
   Section-6
============= */
 
#section-6 {
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-6 .";
    margin: 40px 0 40px;
  
    @include md {
        grid-template-columns: 15% auto 15%;
        margin: 50px 0 50px;
    }
  
    @include lg {
        grid-template-columns: 15px auto 50px;
    }
  
    @include xl {
        grid-template-columns: auto 1200px auto;
    }
  
  
    #section-6-content {
        grid-area: section-6;
        text-align: justify;
  
        img {
            display: block;
            margin: auto;
        }
  
  
        @include lg {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
  
    #section-6-text {
        grid-area: text;
  
        @include lg {
            display: grid;
            grid-template-columns: 125px auto 50px;
            grid-template-areas: ". lgtext .";
        }
  
        p {
            font-size: rem-calc(18);
            line-height: rem-calc(30);
        }
  
    }
  
    #section-6-bigtext {
        grid-area: lgtext;
    }
  
 }
 
 