/* =============
   Section-4
============= */
 
#section-4{
 
   grid-area: section-4;
 
   ul{
       grid-area: section-4;
       display: grid;
       grid-gap:20px;
 
       @include lg{
           grid-template-columns: 15px auto 15px;
           grid-template-areas: ". section-4 ,";
       }
 
       @include md{
           grid-template-columns: 50% 50%;
           grid-template-areas:
           "g1 g1"
           "g1 g1"
           "g2 g3";
       }
 
       @include lg{
           grid-template-columns: 60% auto;
           // grid-template-rows: 20vh 20vh;
           grid-template-areas:
           "g1 g2"
           "g1 g3";
       }
 
       li{
           img{
               width: 100%;
           }
       }
 
       #g1{
           @include md{
               grid-area: g1;
 
               // img{
               //     width: 97.5%;
               // }
           }
 
           @include lg{
               // height: 711px;
               //  img{
               //      object-fit: contain;
               //  };
           }
       }
 
       #g2{
           @include md{
               grid-area: g2;
 
               // img{
               //     width: 95%;
               // }
           }
 
           // @include lg{
           //     // height: 340px;
           // img{
           //     object-fit: contain;
           // };
           // }
       }
 
       #g3{
           @include md{
               grid-area: g3;
 
               // img{
               //     width: 95%;
               // }
           }
 
           // @include lg{
           //     // height: 340px;
           //     img{
           //         object-fit: contain;
           //     };
           // }
       }
   }
 
   @include xl{
       grid-template-columns: auto 1200px auto;
   }
 
   @include md{
       grid-template-columns: auto 768px auto;
   }
}
  